/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */


body{
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-family: 	"gesta-1","gesta-2",Georgia,serif;
	color: #333;
	background-image: url(../images/bg.png);
	background-position: top left;
	background-repeat: repeat-y;
}

p{
	line-height: 18px;
	font-size: 14px;
}

a{
	text-decoration: none;
	color: #e05;
	
}



a:hover{
	color: #fff;
	background-color: #e05;
}


h1, h2, h3 ,h4, h5, h6{
	font-family:	"ff-enzo-web-1","ff-enzo-web-2",Georgia,serif;	
	font-weight:normal;
}



#WRAP{
	width: 850px;
}


#L{
	background-color: #E4E2D3;
	width: 230px;
	padding: 10px;
	float: left;
}


#L .content{
	padding: 20px;
}

#L h1{
	margin: 0;
	padding: 0;
	font-size: 24px;
	font-weight: normal;	
}

#L h1 a{
	background-color: #e05;
	color: #fff;
	font-style: italic;
	padding-left: 3px;
	padding-right: 3px;
	
}

#L h1 a:hover{
	background-color: #333;
}


#L p{
	font-size: 13px;
}


#L span#license a{
	padding: 1px 5px;
	color: #fff;
	background-color: #333;
}

#L span#license a:hover{
	background-color: #e05;
}



#M{
	width: 580px;
	padding: 10px;
	float: left;
}


#M .content{
	background-color: #fff;
	color: #000;
	padding: 20px 10px 0px 10px;
}

#M ul#TOC{
	display: block;
  margin:0;
  padding:5px 0;
	list-style: none;
	clear: both;
}

#M ul#TOC li{
	display: block;
	padding: 10px 0;
	list-style: none;
	clear: both;
}

#M ul#TOC li .postDate{
	background-color: #666;
	display: block;
	float: left;
	color: #fff;
	font-size: 10px;
	padding: 2px 4px;
	margin: 4px 0 0 5px;
	font-family: monospace;
}

#M ul#TOC li .postTitle{
	float: right;
	width: 475px;
	font-size: 20px;
	text-decoration: none;
}

#M ul#TOC li .postTitle a:hover{
	background-color: #fff;
	color: #000;
}

#M ul#TOC li .commentCount{
  font-size: 10px;
  font-style: italic;
  color: #999;
}

#M ul#TOC li .commentCount a{
  color: #999;
}



#M h2{
  padding: 15px 0;
	margin: 0;
	font-size: 32px;
	color: #e05 ;
	clear: both;
}

#M h3{
  padding: 2px 0 18px 0;
	margin: 0;
	font-size: 22px;
	color: #e05 ;
	clear: both;
	font-style: italic;
}

#M ul#topNav{
  display: block;
  padding:0;
  margin:0;
  float: right;
  list-style: none;
}

#M ul#topNav li{
  display: block;
  float: left;
  padding:0 0 0 1px;
  margin:0;
  list-style: none;
}

#M ul#topNav li a{
  display: block;
  height: 30px;
  width: 30px;
}

#M ul#topNav li a span#navPrev{
	background-image: url(../images/nav.png);
	background-position: top left;
	background-repeat: no-repeat;
  display: block;
  height: 30px;
  width: 30px;
}

#M ul#topNav li a span#navHome{
	background-image: url(../images/nav.png);
	background-position: top center;
	background-repeat: no-repeat;
  display: block;
  height: 30px;
  width: 30px;
}

#M ul#topNav li a span#navNext{
	background-image: url(../images/nav.png);
	background-position: top right;
	background-repeat: no-repeat;
  display: block;
  height: 30px;
  width: 30px;
}

#M ul#topNav li a:hover span#navPrev{
	background-position: bottom left;
}

#M ul#topNav li a:hover span#navHome{
	background-position: bottom center;
}

#M ul#topNav li a:hover span#navNext{
	background-position: bottom right;
}




#M ul#topNav li span.navText{
  display: none;
}

#M #date{
	background-color: #999;
	color:#fff;
	margin: 0;
	font-size: 12px;
	display: block;
	float: left;
	padding: 7px;
	font-family: "gesta-1","gesta-2",Georgia;
	font-style: italic;
	font-weight: bold;
}

#M p{
	text-align: justify;
	padding: 0;
	margin: 2px 0 18px 0;
	line-height: 20px;
	color: #333333;
}

#M p a{
  border-bottom: dotted 1px #EE0055;
  color: #EE0055;
}

#M p a:hover{
  border-bottom: none 0px;
  color: #fff;
}

#M .wp-caption{
  padding:0;
  margin: 0 0 10px 0;
  background-color: #333;
  text-align: center; 
}

#M .wp-caption img{
  padding: 0;
  margin: 0;
  border: solid 5px #333;
}

#M .wp-caption p{
  padding: 0 5px 5px 0;
  margin:0;
  text-align: center;
  font-style: italic;
  color: #fff;
}

#M pre{
  background-color: #efefef;
  color: #000;
  display: block;
  padding: 10px;
  overflow: auto;
}

#M code{
  background-color: #efefef;
  padding: 0 3px;
}

#M ul{
  margin: 2px 0 18px 0;
  font-size: 13px;
}

#R{
	width: 280px;
	padding: 10px;
	float: left;
}




#error-404{
  font-size: 64px;
 	color: #fff;
	background-color: #e05;
	padding: 20px;
}
























/*** KOMENTAR ***/


#comment_container{
  padding: 25px 0;
}

#comment_container h3#comment-head{
  background-color: #EE0055;
  font-size: 16px;
  padding: 10px;
  display: block;
  color: #fff;
  margin: 0 0 5px 0;
  float: left;
}

#comment_container ol.commentlist{
  display: block;
  padding: 0;
  margin: 0;
  clear: both;
}

#comment_container ol.commentlist li.comment{
  display: block;
  margin: 0 0 5px 0;
  padding: 0px;
}

#comment_container ol.commentlist li.comment .comment-avatar{
  position: absolute;
  margin: 0px 0 0 500px;
  border: 5px solid #333;
}

#comment_container ol.commentlist li.comment .comment-pointer{
  position: absolute;
  margin: 35px 0 0 495px;
  height: 30px;
  width: 30px;
  
  
	background-image: url(images/point5.gif);
	background-position: top right;
	background-repeat: no-repeat;  
}

#comment_container ol.commentlist li.comment .comment-wrap{
  padding: 20px;
  margin-right: 65px;
  background-color: #555;
}

#comment_container ol.commentlist li.comment .comment-wrap.me{
  padding-left: 10px;
  border-left: solid 10px #333;
}

#comment_container ol.commentlist li.comment .comment-author{
  font-size: 16px;
  padding-bottom: 20px;
}

#comment_container ol.commentlist li.comment .comment-author .fn{
  background-color: #EE0055;
  padding: 2px 4px;
  color: #fff;
}

#comment_container ol.commentlist li.comment .comment-author .fn a{
  color: #fff;
}
#comment_container ol.commentlist li.comment .comment-author .fn a:hover{
  color: #000;
}


#comment_container ol.commentlist li.comment .comment-meta{
  font-size: 11px;
  color: #888;
  font-style: italic;
  color: #ccc;
  padding: 0 3px;
}

#comment_container ol.commentlist li.comment .comment-content,
#comment_container ol.commentlist li.comment .comment-content p{
  font-size: 12px;
  text-align: left;
  color: #fff;
  line-height: 16px;
  margin: 2px 0 12px 0;
}



#comment_container ol.commentlist li.comment .comment-content a{
  border-bottom: dotted 1px #EE0055;
  color: #fff;
}

#comment_container ol.commentlist li.comment .comment-content a:hover{
  background-color:#EE0055;
  color: #fff;
  border-bottom: none 0px;
}


#comment_container #respond{
  padding: 20px;
  margin-right: 65px;
  background-color: #555;
  color: #fff;
  clear: both;
}

#comment_container #respond h3{
  font-size: 18px;
  color: #fff;
  display: block;
  margin: 0;
  padding: 0 0 10px 0;
  font-weight: normal;
}

#comment_container #respond label{
  padding: 0 5px;
}

#comment_container #respond p{
  padding: 0;
  color: #fff;
}

#comment_container #respond a{
  background-color: #EE0055;
  color: #fff;
  padding: 2px 4px;
}

#comment_container #respond a:hover{
  background-color: #333;
}

#comment_container #respond #author,
#comment_container #respond #email,
#comment_container #respond #url{
  background-color: #fff;
  border: none 0px;
  padding: 5px;
}


#comment_container #respond textarea#comment{
  background-color: #fff;
  border: none 0px;
  width: 450px;
}

#comment_container code {
background-color:#444444;
padding:0 3px;
}
