---
layout: default
---
<!--ul id="topNav">
	<li>
		<a href="#"><span title="(PREVIOUS) %title" id="navPrev" ><span class="navText">%title</span></span></a>
	</li>
	<li>
		<a href="<?php bloginfo('home'); ?>/">
			<span id="navHome" title="Blog Index">
				<span class="navText">Blog Index</span>
			</span>
		</a>	        
	</li>	
	<li>
		<a href="#"><span title="(NEXT) %title" id="navNext" ><span class="navText">%title</span></span></a>
	</li>
</ul-->
				
<span id="date">{{ page.date | date_to_string }}</span>
<h2>{{ page.title }}</h2>

{{ content }}
